{% extends 'base.html' %}
{% block conteudo %}
  <main role="main" class="jumbotron">
    <div class="container">  
      <h1 align="center">Artigos Trending</h1>  
      <div align="center"><a href="https://prototecnologia.com.br/2019/06/30/indicador-rsi-sugestao/"><img id = "imagem" src="../static/1.png" width="420" height="438" alt="My image"/></a></div>
    </div>
  </main>  
  <main role="main" class="jumbotron">
    <div class="container">    
      <h1 align="center">Artigos Trending</h1>  
      
      <div align="center"><a href="https://prototecnologia.com.br/2019/06/19/indicador-para-area-de-interesse/"><img id = "imagem" src="../static/2.png" width="420" height="438" alt="My image"/></a></div>
    </div>
  </main>  
  <main role="main" class="jumbotron">
    <div class="container">    
      <h1 align="center">Artigos Trending</h1>        
      <div align="center"><a href="https://prototecnologia.com.br/2019/06/10/indicador-para-spread-flutuante/"><img id = "imagem" src="../static/3.png" width="420" height="438" alt="My image"/></a></div>
    </div>
  </main>  
  <main role="main" class="jumbotron">
    <div class="container">    
      <h1 align="center">Artigos Trending</h1>  
      <div align="center"><a href="https://prototecnologia.com.br/2019/06/06/ferramenta-de-notificacao-para-novos-candles/"><img id = "imagem" src="../static/4.png" width="420" height="438" alt="My image"/></a></div>
    </div>
  </main>  
{% endblock %}