{% extends 'base.html' %}
{% block conteudo %}
    <style>
    label, textarea {
        font-size: .8rem;
        letter-spacing: 1px;
    }
    textarea {
        padding: 10px;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }
    </style>
    <main role="main" class="jumbotron">
    <h1>ORÇAMENTO DE SITE
    </h1>
    <form action="orcamentos/formulario/insert" method="post">
    {% csrf_token %}
    <label>Nome</label>
    <input name="name" type="text" required>
    <br><br>
    <label>Telefone</label>
    <input name="telefone" type="text" required>
    <br><br>
    <label for="descricao">O que você procura?</label>
    <textarea id = "descricao" name="descricao" rows="4" cols="50" required>
    </textarea>
    <br><br>    
    <label>email</label>
    <input  name="email" type="text" required>
    <br><br>    
    <button type="submit" class="btn btn-sucess" role="button">Enviar formulário</button>
</main>
{% endblock %}
