<!doctype html>

<html lang="en">
    <head>
        <title>Meu Site</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"/>
    </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/home">Studio It</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Início</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/sobre">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/servicos">Serviços</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/artigos">Artigos</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="portfolio">Portfólio</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/orcamentos">Orçamentos</a>
      </li>      
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
      
</nav>
<main role="main" class="jumbotron">
  <div class="container">    
        <img id = "imagem" src="../static/logo.png" style="width:100%" alt="My image">
      <h1>Estamos Aqui Para Vocês!</h1>
      <p class="lead">Trabalhamos para desenvolver o seu site. Onde você estiver nós chegamos até você. O Studio It está disponível para desenvolver o seu site por um preço acessível.
      </p>
      <a class="btn btn-lg btn-primary" href="portfolio" role="button">Confira Nosso Portfólio &raquo;</a>
  </div>
</main>
<footer class="footer fixed-bottom">
            <div class="container">
                <span class="text-muted">Desenvolvido por Eduardo Baranowski</span>
            </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>
</body>
</html>
