{% extends 'base.html' %}
{% block conteudo %}
<style>
  label {
      font-size: .9rem;
      letter-spacing: 1px;
  }

  label {
      display: block;
      margin-bottom: 10px;
  }
  </style>
  <main role="main" class="jumbotron">
    <div class="container">    
        <h1>CONTRATRE SEU SITE</h1>                          
            <label>Site com valor único.</label>             
            <label>Design responsivo.</label>
            <label>Treinamento para uso do site</label>
            <label>Artigos</label>                    
            <label>Portfólio</label>
            <label>Orçamentos</label>
        <a class="btn btn-lg btn-primary" href="/orcamentos/formulario/" role="button">Peça Seu Orçamento &raquo;</a>
    </div>
  </main>
{% endblock %}