{% extends 'base.html' %}
{% block conteudo %}
  <main role="main" class="jumbotron">
    <div class="container">    
      <h1>MISSÃO</h1>
      <img id = "imagem" src="../static/missao.png" width="100" height="100" alt="My image" <p> Auxiliar pessoas a possuírem seu próprio site de maneira ágil e eficiente, produzindo uma tecnologia de qualidade.</p>      
    </div>
  </main>  
  <main role="main" class="jumbotron">
    <div class="container">    
      <h1>VISÃO</h1>
      <img id = "imagem" src="../static/visao.png" width="100" height="100" alt="My image" <p> Poder entregar os serviços oferecidos sendo refência para produção de sites para o mundo.</p>      
    </div>
  </main>  
  <main role="main" class="jumbotron">
    <div class="container">    
      <h1>VALORES</h1>
      <img id = "imagem" src="../static/valores.png" width="100" height="100" alt="My image" <p> Possar confiança para quem procura um serviço de criação de sites.</p>      
    </div>
  </main>    
  <main role="main" class="jumbotron">
    <div class="container">    
      <h1>TRABALHE CONOSCO</h1>
      <a class="btn btn-lg btn-primary" href="/sobre/trabalheConosco/" role="button">Envie Seu Currículo &raquo;</a>
    </div>
  </main>  
{% endblock %}